@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Anek Latin', sans-serif;
  background: #000;
}

.sounds {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 50px;
    .icon {
      width: 45px;
      height: 45px;
    }
  }
}

.channels {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 20px;
    background-color: #fff;
    width: 150px;
    border-radius: 15px;
  }
}

.title {
  color: #fff;
}

.status {
  text-align: center;
  width: 70px;
  color: #fff;
  padding: 5px 12px 5px 12px;
  background: #313850;
  border-radius: 50px;
  margin-bottom: 30px;
}

.search {
  height: 50px;
  background: #fff;
  color: #555;
  display: flex;
  padding: 2px;
  border-radius: 15px;

  input[type="search"] {
    color: #000;
    font-family: 'Anek Latin', sans-serif;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 26px;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 100%;
  }
  
  input[type="search"]::placeholder {
    color: rgb(59, 59, 59);
  }

  button[type="submit"] {
    width: 55px;
    background: transparent;
    border: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-size: 100%;
  }
}

.keyboard {
  position: relative;
  height: 350px;
  .circle-out {
    position: absolute;
    top: 0px;
    background-color: #191919;
    width: 350px;
    height: 350px;
    border-radius: 100%;
  }
  .circle-in {
    position: absolute;
    top: 100px;  
    background-color: #000;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  .direction {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: transparent;
    color: #fff;
  }

  .top {
    position: absolute;
    top: 5px;
    left: 155px;
  }
  .down {
    position: absolute;
    bottom: 5px;
    left: 155px;
  }
  .left {
    position: absolute;
    top: 135px;
    left: 30px;
  }
  .right {
    position: absolute;
    top: 135px;
    right: 30px;
  }
  .space {
    position: absolute;
    top: 130px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-items: center;
}

.column {
  flex-direction: column;
}